extends layout

block content
  h1= title

  div
    a(href="https://pugjs.org/api/getting-started.html" target="_blank") Official Pug Documentation

  div(class='images-container')

    img(src='/favicon.svg', alt='favicon', style='width: 30%;') 
    img(src='/images/pug.svg', alt='favicon', style='width: 10%;') 