:root {
  --header-color: blue;
  --main-color-1: #f1f1f1;
  --main-color-2: #226e93;
  --main-color-3: #588ca6;
  --main-color-4: #34a7e0;
  --main-color-5: #164861;
  --main-color-6: #cbdae1;

  --dark-color-1: #333;
}
